language: java
install: true

os: linux
dist: bionic
jdk:
  - openjdk8
  - openjdk11
  - oraclejdk8
  - oraclejdk11

addons:
  sonarcloud:
    organization: "bajek"
    token:
      secure: "8e993f7d2473ea5564a5ab7aa5ead023fb35e12a"

script:
  - ./gradlew build
  - ./gradlew sonarqube